version: '3.8'

services:
  app:
    build: .
    ports:
      - "5001:5000"
    volumes:
      - ./uploads:/app/uploads
      - ./db:/app/db
      - ../tula_districts:/app/tula_districts
    environment:
      - FLASK_ENV=development